<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <form id="Users-get" method="get" action="">
        {% for key1,value1 in json.document.items %}
        <div class="section">
            <h4><a href="#" class="section_toggle"></a>  {{ key1|title }}:</h4>
            <table class="table table-condensed">
                {% for key2,value2 in value1.items %}
                    {{ key2 }}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </form>
</body>
</html>